
@charset "utf-8";
/* CSS Document */


body {
	background-color:white; /*body of the whole website*/
font-family: 'Lora', serif;
	overflow:hidden;
	margin:0px;
	padding:0px;
}
.background
{
	display:none;
}
.backgroundMobile
{
	
	display: block;
	margin-bottom: 50%;
	margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
	
}
.Title
{
	display:none;
}

.Bandnav
{
	position:relative;
	width:100%;
}
/******************/
p {
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 18px;
}


h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 44px;
  text-align: center;
  margin-bottom: 18px;
}
/*@media (min-width: 500px)*/ 
  h1 {
    font-size: 60px;
    line-height: 64px;
  }


h3 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 60px;
}

article {
  padding: 24px;
  max-width: 600px;
  margin: 60px auto;
  transition: 0.2s ease-out;
}



@media only screen and (min-width: 768px) {
	
	body {
	background-color: black; /*body of the whole website*/

}
	.backgroundMobile{
		display:none;
	}


.Imagecontainer {
  
    width:55%;
	display:block;
    color: black;
}

a:link
	{
		  text-decoration: none;
	color:white;
	}
	
	.Title {
	display:contents;
text-align: right;
		
	font-size:40px;
		
}

	p {
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 18px;
}


h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 44px;
  text-align: center;
  margin-bottom: 18px;
}
/*@media (min-width: 500px)*/ 
  h1 {
    font-size: 60px;
    line-height: 64px;
  }


h3 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 60px;
}

article {
  padding: 24px;
  max-width: 600px;
  margin: 60px auto;
  transition: 0.2s ease-out;
}
}
